<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Satosh-E Form to Generate</title>
</head>
<body>
    <form action="/generate" method="GET">
        
        <label for="prompt">Prompt: </label>
        <input 
            type="text" 
            id="prompt" 
            name="prompt" 
            value="{{s_initial_prompt}}"
        >
        <br>
        <input type="submit" value="Generate">
    </form>
</body>
</html>